html 
    head 
        title OAuth2/OpenID login demo
    body
        h1 This page is only for logged users
        h4 Your data is: #{user}        
        a(href='/', title='Home') Home        
        
        